{% extends 'base.html' %}
{% block content %}

<h1>{{ album.name }}</h1>
<p>Created On: {{ album.created }}</p>
<p>Use: {{ album.use }}</p>
<p>Description: {{ album.description }}</p>

{% comment %} If the use is Inspo, use description to make api call. If writing, ... ??? {% endcomment %}
{% comment %} make api call.. {% endcomment %}
{% comment %} get some query params {% endcomment %}
{% comment %} form to get query params, make get request, redirect to same page {% endcomment %}

<div class="card">
  <div class="card-content">
    <form action="{% url 'add_photos' album.id %}" method="get">
      {% csrf_token %}
      {{ photo_form.as_p }}
      <input type="submit" class='btn' value='Get Photos'>
    </form>
  </div>
</div>


{% endblock %}